<form class="{{cssClass}} dialogo_tirada_habilidad" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/dialogos/dialogo_repetir_tirada_habilidad.svg" alt="?"/>
  {{#if (eq dificultad1 dificultad2)}}
    <div class="dialogo_repetir_tirada_habilidad_tirada"><label>{{tirada}} VS {{dificultad1}}</label></div>
  {{else}}
    <div class="dialogo_repetir_tirada_habilidad_tirada"><label>{{tirada}} VS {{dificultad1}} VS {{dificultad2}}</label></div>
  {{/if}}
  <div class="dialogo_repetir_tirada_habilidad_dados">
    {{#each dados as |item|}}
      <label> <input type="checkbox" id="{{item.indice}}">{{item.dado}}</label>
    {{/each}}
  </div>
</form>
