<form class="{{cssClass}} dialogo_tirada_habilidad" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/dialogos/dialogo_tirada_habilidad_objetivo.svg" alt="?"/>
  <div class="dialogo_tirada_habilidad_tirada"><label>{{tirada}}</label></div>
  <div class="dialogo_tirada_habilidad_mod_dados"><input id="mod_dados" value="0" size=2  data-dtype="Number"></div>
  <div class="dialogo_tirada_habilidad_mod_num"><input id="mod_num" value="0" size=2  data-dtype="Number"></div>
  <select  class="dialogo_tirada_habilidad_proezas" name="proezas" id="proezas" data-dtype="Number">
         <option value="0" selected>NO</option>
         <option value="1">SI</option>
       </select>
  <select  class="dialogo_tirada_habilidad_dificultad" name="dificultad" id="dificultad" data-dtype="Number">
        <option value="{{agilidad}}">Agilidad ({{agilidad}})</option>
        <option value="{{aplomo}}">Aplomo ({{aplomo}})</option>
         <option value="{{perspicacia}}">Perspicacia ({{perspicacia}})</option>
       </select>
</form>
