<form class="{{cssClass}} dialogo_tirada_habilidad" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/Negro/dialogos/dialogo_tirada_habilidad.svg" alt="?"/>
  <div class="dialogo_tirada_habilidad_tirada"><label>{{tirada}}</label></div>
  <div class="dialogo_tirada_habilidad_mod_dados"><input id="mod_dados" value="0" size=2  data-dtype="Number"></div>
  <div class="dialogo_tirada_habilidad_mod_num"><input id="mod_num" value="0" size=2  data-dtype="Number"></div>
  <select  class="dialogo_tirada_habilidad_proezas" name="proezas" id="proezas" data-dtype="Number">
         <option value="0" selected>NO</option>
         <option value="1">SI</option>
       </select>
  <select  class="dialogo_tirada_habilidad_dificultad" name="dificultad" id="dificultad" data-dtype="Number">
        <option value="4">Muy Fácil (4)</option>
        <option value="5">Muy Fácil (5)</option>
         <option value="6">Fácil (6)</option>
         <option value="7">Fácil (7)</option>
         <option value="8" selected>Media (8)</option>
         <option value="9">Media (9)</option>
         <option value="10">Desafiante (10)</option>
         <option value="11">Desafiante (11)</option>
         <option value="12">Desafiante (12)</option>
         <option value="13">Desafiante (13)</option>
         <option value="14">Difícil (14)</option>
         <option value="15">Difícil (15)</option>
         <option value="16">Difícil (16)</option>
         <option value="17">Difícil (17)</option>
         <option value="18">Muy Difícil (18)</option>
         <option value="19">Muy Difícil (19)</option>
         <option value="20">Muy Difícil (20)</option>
         <option value="21">Muy Difícil (21)</option>
         <option value="22">Extrema (22)</option>
         <option value="23">Extrema (23)</option>
         <option value="24">Extrema (24)</option>
       </select>
</form>
