<form class="{{cssClass}} dialogo_tirada_habilidad" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/Negro/dialogos/dialogo_tirada_panico.svg" alt="?"/>
  <select  class="dialogo_tirada_panico" name="nivel_panico" id="nivel_panico" data-dtype="Number">
        <option value="1" selected>1</option>
        <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
         <option value="6">6</option>
         <option value="7">7</option>
       </select>
</form>
