<form class="{{cssClass}} flexcol" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/Negro/fichas/armadura-Bg.webp" alt="?"/>
  <div class=espacio_objeto>
    <div class="Objeto-nombre"><input name="name" type="text" value="{{item.name}}" placeholder='Nombre'
                                         onClick="this.select();"/></div>
      <div class="Objeto-foto">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt='Imagen del Objeto'/>
      </div>

      <div class="Armadura_Nivel_input">
          <input type="text" name="system.Nivel" value="{{item.system.Nivel}}" data-dtype="Number" maxlength="2"/>
        </div>
        <div class="Armadura_Penalizador_input">
            <input type="text" name="system.Penalizador" value="{{item.system.Penalizador}}" data-dtype="Number" maxlength="2"/>
          </div>

    </div>
    <div class="Objeto_contenedor_descripcion">
      {{editor item.system.Descripción target="system.Descripción" button=true owner=owner editable=true}}
    </div>
</form>
