
  <div class="Jugador_contenedor_general">
    <div class="PNJ_espacio_habilidades">
      <ol class="lista-habilidades">
          {{#each data.Habilidades as |habilidad id|}}
            <li class="habilidad">
              <label class="tirada_habilidad" data-Habilidad_id="{{id}}">{{habilidad.Nombre}}</label>
                <span class="mod_habilidad" data-habilidad_id="{{id}}">
                  {{#if (eq habilidad.Atributo "Percepción")}}<label> (PER)</label>{{/if}}
                  {{#if (eq habilidad.Atributo "Carisma")}}<label> (CAR)</label>{{/if}}
                  {{#if (eq habilidad.Atributo "Destreza")}}<label> (DES)</label>{{/if}}
                  {{#if (eq habilidad.Atributo "Inteligencia")}}<label> (INT)</label>{{/if}}
                  {{#if (eq habilidad.Atributo "Fuerza")}}<label> (FUE)</label>{{/if}}
                  {{#if (gt habilidad.Valor 0)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                  {{#if (gt habilidad.Valor 1)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                  {{#if (gt habilidad.Valor 2)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
              </span>
            </li>
          {{/each}}
        </ol>
    </div>
    <label class="PNJ_Titulo_Arma Titulo_Equipo">Arma</label>
    <label class="PNJ_Titulo_Habilidad Titulo_Equipo">Ataque</label>
    <label class="PNJ_Titulo_Daño Titulo_Equipo">Daño</label>
    <span class="align_right boton_PNJ_mas_arma"><a class="item-control item-create" data-type="Arma"><i class="fas fa-plus"></i></a></span>
    <div class="PNJ_espacio_armas">
      <ol class="lista-armas" data-item-id="{{item._id}}">
          {{#each Armas as |item id|}}
            <li class="armas item" data-item-id="{{item._id}}">
              <div class="PNJ_arma_linea1"><label>{{item.name}}</label></div>
                <label class="PNJ_arma_linea2">{{item.data.Ataque}}</label>
                <label class="PNJ_arma_linea3">{{item.data.Daño_Total}}</label>
                <span class="PNJ_controles_armas">
                  <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
                  <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
                </span>
              </li>
          {{/each}}
        </ol>
    </div>
  </div>
