<form class="{{cssClass}} chat_tirada_ataque" autocomplete="off">
  {{#if (eq resultado "ÉXITO")}}
    <div class="chat_tirada_titulo_exito"><label>{{personaje}}: {{nombre_habilidad}}</label></div>
    <div class="chat_tirada_tirada_exito"><label>{{tirada}} VS {{dificultad}}</label></div>
    <img class="chat_resultado_circulo_exito" src="/systems/ysystem/assets/Negro/chat/total_chat_exito.webp" alt="?"/>
    <img class="chat_resultado_circulo_daño" src="/systems/ysystem/assets/Negro/chat/total_daño_chat.webp" alt="?"/>
    <div class="chat_tirada_total_exito"><label>{{total}}</label></div>
    <div class="chat_tirada_total_daño aplica_daño"
      data-actor_id="{{actor}}" data-objetivo_id="{{objetivo}}" data-daño="{{daño}}">
      <label>{{daño}}</label>
    </div>

    <div class="chat_tirada_cada_exito">
    {{#each dados as |item|}}
      <label>{{item}}</label>
    {{/each}}
    </div>
  {{/if}}
  {{#if (eq resultado "FALLO")}}
    <div class="chat_tirada_titulo"><label>{{personaje}}: {{nombre_habilidad}}</label></div>
    <div class="chat_tirada_tirada"><label>{{tirada}} VS {{dificultad}}</label></div>
    <img class="chat_resultado_circulo" src="/systems/ysystem/assets/Negro/chat/total_chat_fallo.webp" alt="?"/>
    <div class="chat_tirada_total"><label>{{total}}</label></div>
    <div class="chat_tirada_cada">
    {{#each dados as |item|}}
      <label>{{item}}</label>
    {{/each}}
    </div>
  {{/if}}
  {{#if (eq resultado "CRÍTICO")}}
    <div class="chat_tirada_titulo_exito"><label>{{personaje}}: {{nombre_habilidad}}</label></div>
    <div class="chat_tirada_tirada_exito"><label>{{tirada}} VS {{dificultad}}</label></div>
    <img class="chat_resultado_circulo_exito" src="/systems/ysystem/assets/Negro/chat/total_chat_critico.webp" alt="?"/>
    <img class="chat_resultado_circulo_daño" src="/systems/ysystem/assets/Negro/chat/total_daño_chat.webp" alt="?"/>
    <div class="chat_tirada_total_exito"><label>{{total}}</label></div>
    <div class="chat_tirada_total_daño aplica_daño"
      data-actor_id="{{actor}}" data-objetivo_id="{{objetivo}}" data-daño="{{daño}}">
      <label>{{daño}}</label>
    </div>
    <div class="chat_tirada_cada_exito">
    {{#each dados as |item|}}
      <label>{{item}}</label>
    {{/each}}
    </div>
  {{/if}}
  {{#if (eq resultado "PIFIA")}}
    <div class="chat_tirada_titulo"><label>{{personaje}}: {{nombre_habilidad}}</label></div>
    <div class="chat_tirada_tirada"><label>{{tirada}} VS {{dificultad}}</label></div>
    <img class="chat_resultado_circulo" src="/systems/ysystem/assets/Negro/chat/total_chat_pifia.webp" alt="?"/>
    <div class="chat_tirada_total"><label>{{total}}</label></div>
    <div class="chat_tirada_cada">
    {{#each dados as |item|}}
      <label>{{item}}</label>
    {{/each}}
    </div>
  {{/if}}

  {{#if (gt proezas 0)}}
    {{#if (eq resultado "ÉXITO")}}
    <div class="chat_tirada_aumentar aumenta_daño"
      data-actor_id="{{actor}}"
      data-objetivo_id="{{objetivo}}"
      data-daño="{{daño}}"
      data-tirada="{{tirada}}"
      data-nombre_habilidad="{{nombre_habilidad}}"
      data-resultado="{{resultado}}"
      data-total="{{total}}"
      data-dificultad="{{dificultad}}"
      data-dados="{{dados}}"
      data-valor_habilidad="{{valor_habilidad}}">
      <img class="chat_repetir" src="/systems/ysystem/assets/Negro/chat/aumentar_daño_chat.webp" alt="?"/>
    </div>
    {{/if}}
    {{#if (eq resultado "CRÍTICO")}}
      <div class="chat_tirada_aumentar aumenta_daño"
        data-actor_id="{{actor}}"
        data-objetivo_id="{{objetivo}}"
        data-daño="{{daño}}"
        data-tirada="{{tirada}}"
        data-nombre_habilidad="{{nombre_habilidad}}"
        data-resultado="{{resultado}}"
        data-total="{{total}}"
        data-dificultad="{{dificultad}}"
        data-dados="{{dados}}"
        data-valor_habilidad="{{valor_habilidad}}">
        <img class="chat_repetir" src="/systems/ysystem/assets/Negro/chat/aumentar_daño_chat.webp" alt="?"/>
      </div>
    {{/if}}
  {{/if}}
  {{#if (gt proezas 0)}}
    {{#if (eq resultado "FALLO")}}
      <div class="chat_tirada_repetir repite_ataque_proeza"
        data-dados="{{dados}}" data-tirada="{{tirada}}" data-nombre_habilidad="{{nombre_habilidad}}"
        data-valor_habilidad="{{valor_habilidad}}" data-dificultad="{{dificultad}}" data-actor_id="{{actor}}"
        data-valor_atributo="{{valor_atributo}}" data-daño="{{daño}}" data-objetivo_id="{{objetivo}}">
      <img class="chat_repetir" src="/systems/ysystem/assets/Negro/chat/repetir_chat.webp" alt="?"/></div>
    {{/if}}
    {{#if (eq resultado "PIFIA")}}
      <div class="chat_tirada_repetir repite_ataque_proeza"
        data-dados="{{dados}}" data-tirada="{{tirada}}" data-nombre_habilidad="{{nombre_habilidad}}"
        data-valor_habilidad="{{valor_habilidad}}" data-dificultad="{{dificultad}}" data-actor_id="{{actor}}"
        data-valor_atributo="{{valor_atributo}}" data-daño="{{daño}}" data-objetivo_id="{{objetivo}}">
        <img class="chat_repetir" src="/systems/ysystem/assets/Negro/chat/repetir_chat.webp" alt="?"/></div>
    {{/if}}
  {{/if}}
</form>
