<form class="{{cssClass}} dialogo_tirada_habilidad" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/Rojo/dialogos/dialogo_tirada_ataque_objetivo.webp" alt="?"/>
  <div class="dialogo_tirada_habilidad_tirada"><label>{{tirada}}  (Daño: {{daño}})</label></div>
  <div class="dialogo_tirada_ataque_mod_dados"><input id="mod_dados" value="0" size=2  data-dtype="Number"></div>
  <div class="dialogo_tirada_ataque_mod_num"><input id="mod_num" value="0" size=2  data-dtype="Number"></div>
  <div class="dialogo_tirada_ataque_apuntar"><input id="apuntar" value="0" size=2  data-dtype="Number"></div>
  <select  class="dialogo_tirada_habilidad_proezas" name="proezas" id="proezas" data-dtype="Number">
         <option value="0" selected>NO</option>
         <option value="1">SI</option>
       </select>
  <select  class="dialogo_tirada_habilidad_dificultad" name="dificultad" id="dificultad" data-dtype="Number">
        <option value="{{agilidad}}">Agilidad ({{agilidad}})</option>
       </select>
</form>
