<form class="{{cssClass}} flexcol" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/Negro/fichas/PJ-B_N-Bg.svg" alt="?"/>

  <div class=espacio_atributos>
    <div class="PJ-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre'
                                         onClick="this.select();"/></div>
      <div class="PJ-foto">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
      </div>
      <div class="caract_Experiencia_valor_input">
        <input type="text" name="data.Experiencia" value="{{data.Experiencia}}" data-dtype="Number" maxlength="2"/>
      </div>
      <label class="caract_Iniciativa caract_valor">{{data.Iniciativa}}</label>
      <select class="atributo_Carisma atributo_select" name="data.Carisma" data-dtype="Number">
        {{#select data.Carisma}}
          <option value="0">+0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+3</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
        {{/select}}
      </select>
      <select class="atributo_Destreza atributo_select" name="data.Destreza" data-dtype="Number">
        {{#select data.Destreza}}
          <option value="0">+0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+3</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
        {{/select}}
      </select>
      <select class="atributo_Fuerza atributo_select" name="data.Fuerza" data-dtype="Number">
        {{#select data.Fuerza}}
          <option value="0">+0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+3</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
        {{/select}}
      </select>
      <select class="atributo_Inteligencia atributo_select" name="data.Inteligencia" data-dtype="Number">
        {{#select data.Inteligencia}}
          <option value="0">+0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+3</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
        {{/select}}
      </select>
      <select class="atributo_Percepción atributo_select" name="data.Percepción" data-dtype="Number">
        {{#select data.Percepción}}
          <option value="0">+0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+3</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
        {{/select}}
      </select>
    </div>
    <div class="espacio_caract">
      <label class="caract_Agilidad caract_valor">{{data.Agilidad.Valor}}</label>
      <label class="caract_Agilidad_bono caract_bono activa_mod" data-bono_nombre="Agilidad">{{data.Agilidad.Bono}}</label>
      <label class="caract_Aplomo caract_valor">{{data.Aplomo.Valor}}</label>
      <label class="caract_Aplomo_bono caract_bono activa_mod" data-bono_nombre="Aplomo">{{data.Aplomo.Bono}}</label>
      <label class="caract_Perspicacia caract_valor">{{data.Perspicacia.Valor}}</label>
      <label class="caract_Perspicacia_bono caract_bono activa_mod" data-bono_nombre="Perspicacia">{{data.Perspicacia.Bono}}</label>
      <div class="caract_Proezas_valor_input">
        <input type="text" name="data.Proezas.value" value="{{data.Proezas.value}}" data-dtype="Number" maxlength="2"/>
      </div>
      <label class="caract_Proezas_Max caract_bono restaura_proeza">{{data.Proezas.max}}</label>
      {{#if (lte data.Salud.value 3)}}
          <div class="caract_Salud_valor_input_red">
          {{else}} {{#if (lte data.Salud.value 6)}}
            <div class="caract_Salud_valor_input_orange">
            {{else}} {{#if (lte data.Salud.value 10)}}
              <div class="caract_Salud_valor_input_yellow">
              {{else}}
                <div class="caract_Salud_valor_input_black">
            {{/if}}
          {{/if}}
        {{/if}}
        <input type="text" name="data.Salud.value" value="{{data.Salud.value}}" data-dtype="Number" maxlength="2"/>
      </div>
      <label class="caract_Salud_max caract_bono restaura_salud">{{data.Salud.max}}</label>
      <label class="caract_R_Física caract_valor">{{data.Resistencia_Física}}</label>
      <div class="caract_Estabilidad_valor_input">
        <input type="text" name="data.Estabilidad.value" value="{{data.Estabilidad.value}}" data-dtype="Number" maxlength="2"/>
      </div>
      <label class="caract_Estabilidad_max caract_bono restaura_estabilidad">{{data.Estabilidad.max}}</label>
      <label class="caract_R_Mental caract_valor">{{data.Resistencia_Mental}}</label>
    </div>

    <div class="character-tabs-info sheet-body">

  {{!-- Sheet Tab Navigation --}}
  <div class="character-tabs ysystem_charsheet_tab">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item habilidades-tab" data-tab="habilidades">Habilidades</a>
      <a class="item equipo-tab" data-tab="equipo">Equipo</a>
      <a class="item biografia-tab" data-tab="biografia">Biografía</a>
      <a class="item magia-tab" data-tab="magia">Magia</a>
    </nav>
  </div>

  {{!-- General Tab --}}
  <div class="tab Jugador_habilidades" data-group="primary" data-tab="habilidades">
    {{> "/systems/ysystem/templates/actors/Jugador_partes/habilidades.html"}}
  </div>

  {{!-- Equipo Tab --}}
  <div class="tab Jugador_equipo" data-group="primary" data-tab="equipo">
    {{> "/systems/ysystem/templates/actors/Jugador_partes/equipo.html"}}
  </div>

  {{!-- Biografía Tab --}}
  <div class="tab Jugador_biografia" data-group="primary" data-tab="biografia">
    {{> "/systems/ysystem/templates/actors/Jugador_partes/bio.html"}}
  </div>
  {{!-- Magia Tab --}}
  <div class="tab Jugador_magia" data-group="primary" data-tab="magia">
    {{> "/systems/ysystem/templates/actors/Jugador_partes/magia.html"}}
  </div>
</div>
</form>
