<form class="{{cssClass}} flexcol" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/fichas/objeto-Bg.svg" alt="?"/>
  <div class=espacio_objeto>
    <div class="Objeto-nombre"><input name="name" type="text" value="{{data.name}}" placeholder='Nombre'
                                         onClick="this.select();"/></div>
      <div class="Objeto-foto">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{name}}" alt='Imagen del Objeto'/>
      </div>

      <div class="Objeto_Cantidad_input">
          <input type="text" name="data.Cantidad" value="{{data.data.Cantidad}}" data-dtype="Number" maxlength="5"/>
        </div>

    </div>
</form>
