<form class="{{cssClass}} flexcol" autocomplete="off">
  <img class="content-background" src="/systems/ysystem/assets/Medieval/fichas/poder-Bg.webp" alt="?"/>
  <div class=espacio_poder>
    <div class="Poder-nombre"><input name="name" type="text" value="{{item.name}}" placeholder='Nombre'
                                         onClick="this.select();"/></div>
      <div class="Poder-foto">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt='Imagen del Objeto'/>
      </div>
      <div class="Poder_Tipo_input">
        <input type="text" name="system.Tipo" value="{{item.system.Tipo}}" data-dtype="String"/>
      </div>
      <select class="Poder_Atributo_select" name="system.Atributo" data-dtype="String">
        {{#select item.system.Atributo}}
        <option value="Carisma">Carisma</option>
        <option value="Destreza">Destreza</option>
        <option value="Fuerza">Fuerza</option>
        <option value="Inteligencia">Inteligencia</option>
        <option value="Percepción">Percepción</option>
        {{/select}}
      </select>
      <div class="Poder_Dificultad_input">
        <select class="Poder_Dificultad_select" name="system.Dificultad" data-dtype="String">
          {{#select item.system.Dificultad}}
          <option value="8">8</option>
          <option value="12">12</option>
          <option value="16">16</option>
          {{/select}}
        </select>
      </div>
      <div class="Poder_Preparación_input">
        <input type="text" name="system.Preparación" value="{{item.system.Preparación}}" data-dtype="String"/>
      </div>
      <div class="Poder_Lanzamiento_input">
        <input type="text" name="system.Lanzamiento" value="{{item.system.Lanzamiento}}" data-dtype="String"/>
      </div>
      <div class="Poder_Duración_input">
        <input type="text" name="system.Duración" value="{{item.system.Duración}}" data-dtype="String"/>
      </div>
      <div class="Poder_Caducidad_input">
        <input type="text" name="system.Caducidad" value="{{item.system.Caducidad}}" data-dtype="String"/>
      </div>

    </div>
    <div class="Poder_contenedor_descripcion">
      {{editor item.system.Descripción target="system.Descripción" button=true owner=owner editable=true}}
    </div>
</form>
