.chat_tirada_ataque {
  position: relative;
  width: 10em;
  height: 17em;
  text-align: center;
  z-index: 0;
}

.chat_tirada_habilidad {
  position: relative;
  width: 10em;
  height: 17em;
  text-align: center;
  z-index: 0;
}

.chat_resultado_circulo {
  top: 3em;
  left: 5em;
  position: relative;
  width: 10em;
  height: 8em;
  text-align: center;
  z-index: 0;
}

.chat_resultado_circulo img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.chat_tirada_titulo {
  position: relative;
  top: -8em;
  left: 0.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 12.5em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.chat_tirada_tirada {
  position: relative;
  top: -9.4em;
  left: 4.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.3em;
}

.chat_tirada_total {
  position: relative;
  top: -1.4em;
  left: 2.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 3em;
}

.chat_tirada_cada {
  position: relative;
  top: -2.3em;
  left: 4.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  font-size: 1.3em;
}

.chat_tirada_cada_exito {
  position: relative;
  top: -12.3em;
  left: 4.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  font-size: 1.3em;
}

.chat_tirada_total_exito {
  position: relative;
  top: -4.2em;
  left: 0.6em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 3em;
}

.chat_tirada_total_daño {
  position: relative;
  top: -5.4em;
  left: 3.6em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 3em;
}

.chat_resultado_circulo_exito {
  top: 3em;
  left: 0em;
  position: relative;
  width: 10em;
  height: 8em;
  text-align: center;
  z-index: 0;
}

.chat_resultado_circulo_exito img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.chat_resultado_circulo_daño {
  top: -6em;
  left: 9em;
  position: relative;
  width: 10em;
  height: 8em;
  text-align: center;
  z-index: 0;
}

.chat_resultado_circulo_daño img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.chat_tirada_repetir {
  top: -3em;
  left: 5em;
  position: relative;
  width: 10em;
  height: 3em;
  text-align: center;
  z-index: 0;
}

.chat_tirada_repetir img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.chat_tirada_aumentar {
  top: -16em;
  left: 5em;
  position: relative;
  width: 10em;
  height: 3em;
  text-align: center;
  z-index: 0;
}

.chat_tirada_aumentar img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.chat_tirada_titulo_exito {
  position: relative;
  top: -16em;
  left: 0.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 12.5em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.chat_tirada_tirada_exito {
  position: relative;
  top: -18.5em;
  left: 4.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.3em;
}

.chat_tirada_titulo_habilidad {
  position: relative;
  top: -6.5em;
  left: 0.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 14.5em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.3em;
}

.chat_tirada_tirada_habilidad {
  position: relative;
  top: -6.5em;
  left: 0em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 15em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.3em;
}

.chat_tirada_total_habilidad {
  position: relative;
  top: -2.5em;
  left: 2.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 3em;
}
