.dialogo_tirada_habilidad{
  width: 384px;
  height: 200px;
}

.dialogo_tirada_habilidad_tirada {
  position: absolute;
  top: 1em;
  left: 0.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 12em;
  font-family: "Annie";
  color: Black !important;
  font-size: 2.3em;
}

.dialogo_tirada_habilidad_mod_dados {
  background-color: transparent;
  position: absolute;
  top: 4.7em;
  left: 1em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.dialogo_tirada_habilidad_mod_dados input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  font-family: "Annie";
  height: auto;
  font-size: 1.7em;
}

.dialogo_tirada_habilidad_mod_num {
  background-color: transparent;
  position: absolute;
  top: 4.7em;
  left: 6.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.dialogo_tirada_habilidad_mod_num input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
  font-family: "Annie";
  font-size: 1.7em;
}

.dialogo_tirada_habilidad_proezas {
  top: 6.3em;
  left: 15.1em;
  background-color: transparent;
  position: absolute;
  appearance: none;
  text-align: center;
  z-index: 6;
  width: 2em;
  height: 1.4em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.5em;
  border: none;
}
.dialogo_tirada_habilidad_proezas select{
  appearance: none;
  text-align: center;
  font-family: "Annie";
  color: Black !important;
  background-color: transparent;
  border: none;
}

.dialogo_tirada_habilidad_dificultad {
  top: 8.5em;
  left: 6.3em;
  background-color: transparent;
  position: absolute;
  appearance: none;
  text-align: center;
  z-index: 6;
  width: 8em;
  height: 1.4em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.5em;
  border: none;
}
.dialogo_tirada_habilidad_dificultad select{
  appearance: none;
  text-align: center;
  font-family: "Annie";
  color: Black !important;
  background-color: transparent;
  border: none;
}

.dialogo_repetir_tirada_habilidad_tirada {
  position: absolute;
  top: 1em;
  left: 0.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 12em;
  font-family: "Annie";
  color: Black !important;
  font-size: 2.3em;
}

.dialogo_repetir_tirada_habilidad_dados {
  position: absolute;
  top: 5.1em;
  left: 0.3em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 13em;
  font-family: "Annie";
  font-size: 2.1em;
}

.dialogo_tirada_ataque_mod_dados {
  background-color: transparent;
  position: absolute;
  top: 4.7em;
  left: 1em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.dialogo_tirada_ataque_mod_dados input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  font-family: "Annie";
  height: auto;
  font-size: 1.7em;
}

.dialogo_tirada_ataque_mod_num {
  background-color: transparent;
  position: absolute;
  top: 4.7em;
  left: 4.6em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.dialogo_tirada_ataque_mod_num input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  font-family: "Annie";
  height: auto;
  font-size: 1.7em;
}

.dialogo_tirada_ataque_apuntar {
  background-color: transparent;
  position: absolute;
  top: 4.7em;
  left: 8.4em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.dialogo_tirada_ataque_apuntar input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  font-family: "Annie";
  height: auto;
  font-size: 1.7em;
}

.dialogo_retrato_PNJ {
  top: -9.5em;
  left: 20em;
  position: relative;
  width: 5em;
  height: 5em;
  text-align: center;
  z-index: 0;
}

.dialogo_retrato_PNJ img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}
