.espacio_habilidades {
  columns: 3;
  left: 22px;
  top: 308px;
  width: 54em;
  height: 17em;
  position: absolute;
}

.habilidad{
  font-size: 1.2em;
  font-family: "Lora";
  display: flex;
  justify-content: space-between;
}

ol.lista-habilidades {
  list-style-type: none;
}

img {
  border: none !important;
  max-width: 100%;
}

.PJ-foto {
  top: 2.3em;
  left: 43.6em;
  position: absolute;
  width: 10em;
  height: 10em;
  text-align: center;
  z-index: 0;
}

.PJ-foto img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}


.PJ-nombre {
  position: absolute;
  top: 2.2em;
  text-align: center;
  z-index: 6;
  left: 10.7em;
  width: 26.5em;
}

.PJ-nombre input[type='text'] {
  background-color: transparent;
  font-family: inherit;
  width: 8.6em;
  height: 1em;
  font-size: 3em;
  text-align: center;
  font-family: "Dexotick";
  color: White !important;
  border: none;
}

.caract_Experiencia_valor_input {
  background-color: transparent;
  position: absolute;
  top: 1em;
  left: 0.4em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 2.5em;
}
.caract_Experiencia_valor_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.espacio_atributos {
  left: 9px;
  top: 39px;
  width: 56em;
  height: 16em;
  position: absolute;
}

.atributo_select {
  background-color: transparent;
  position: absolute;
  appearance: none;
  text-align: center;
  z-index: 6;
  width: 2em;
  height: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 3em;
  border: none;
}
.atributo_select select{
  appearance: none;
  text-align: center;
  font-family: "Annie";
  color: Black !important;
  background-color: transparent;
  border: none;
}

.atributo_Carisma {
  top: 3.1em;
  left: 1.9em;
}

.atributo_Destreza {
  top: 3.1em;
  left: 4.2em;
}

.atributo_Fuerza {
  top: 3.1em;
  left: 6.7em;
}

.atributo_Inteligencia {
  top: 3.1em;
  left: 9.2em;
}

.atributo_Percepción {
  top: 3.1em;
  left: 11.5em;
}

.espacio_caract {
  left: 22px;
  top: 561px;
  width: 54em;
  height: 6em;
  position: absolute;
}

.caract_valor {
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 2.5em;
}

.caract_Agilidad {
  position: absolute;
  top: 0.4em;
  left: 0em;
}

.caract_Aplomo {
  position: absolute;
  top: 0.4em;
  left: 2.6em;
}

.caract_Perspicacia {
  position: absolute;
  top: 0.4em;
  left: 5.3em;
}

.caract_bono {
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}

.caract_Agilidad_bono {
  position: absolute;
  top: 0.7em;
  left: 2.3em;
}

.caract_Aplomo_bono {
  position: absolute;
  top: 0.7em;
  left: 6.1em;
}

.caract_Perspicacia_bono {
  position: absolute;
  top: 0.7em;
  left: 10em;
}

.caract_Proezas_valor_input {
  background-color: transparent;
  position: absolute;
  top: 0.4em;
  left: 8.5em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 2.5em;
}
.caract_Proezas_valor_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.caract_Proezas_Max {
  position: absolute;
  top: 0.7em;
  left: 14.9em;
}

.caract_Salud_valor_input {
  background-color: transparent;
  position: absolute;
  top: 0.4em;
  left: 11.9em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 2.5em;
}
.caract_Salud_valor_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.caract_Salud_max {
  position: absolute;
  top: 0.7em;
  left: 19.8em;
}

.caract_R_Física {
  position: absolute;
  top: 0.4em;
  left: 14.5em;
}

.caract_Estabilidad_valor_input {
  background-color: transparent;
  position: absolute;
  top: 0.4em;
  left: 16.8em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 2.5em;
}
.caract_Estabilidad_valor_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.caract_Estabilidad_max {
  position: absolute;
  top: 0.7em;
  left: 27em;
}

.caract_R_Mental {
  position: absolute;
  top: 0.4em;
  left: 19.5em;
}

.ysystem_charsheet_tab{
  top: 30.8em;
  left: 16em;
  width: 7em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
}

.sheet nav.sheet-tabs {
    height: 55px;
    flex: 0 0 32px;
    margin: 6px 0;
    line-height: 32px;
    border-top: 0px solid #b5b3a4;
    border-bottom: 0px solid #b5b3a4;
}

.habilidades-tab, .equipo-tab, .biografia-tab {
  background-image: url(/systems/ysystem/assets/fichas/Tabs.svg);
  background-position-x: -2px;
  padding-top: 0.15em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: block;
  background-color: unset !important;
}

a.habilidades-tab:hover, .equipo-tab:hover, .biografia-tab:hover{
  background-image: url(/systems/ysystem/assets/fichas/Tabs-Hover.svg);
  background-size: 100% 100%;
  color: LightGrey;
}

a.habilidades-tab.active, .equipo-tab.active, .biografia-tab.active{
  background-image: url(/systems/ysystem/assets/fichas/Tabs-Active.svg);
  background-size: 100% 100%;
  color: LightGrey;
  text-shadow: none !important;
}

.character-tabs-info {
  background: transparent !important;
}

.Jugador_contenedor_biografia{
  position: absolute;
  left:22px;
  top: 346px;
  width: 54em;
  height: 14em;
  background-color: rgba(242, 242, 242, 0.4);
  overflow-y: scroll;
  border: none;
  border-width: 0;
  font-family: 'Annie';
}

.D_Leve_label {
  position: absolute;
  top: 13em;
  left: 0em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.D_Leve_input {
  background-color: transparent;
  position: absolute;
  top: 9.3em;
  left: 4.8em;
  text-align: center;
  z-index: 6;
  width: 9em;
  font-family: "Dexotick";
  color: Black !important;
  font-size: 2em;
}
.D_Leve_input input{
  text-align: left;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.D_Grave_label {
  position: absolute;
  top: 13em;
  left: 18.7em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.D_Grave_input {
  background-color: transparent;
  position: absolute;
  top: 9.3em;
  left: 19em;
  text-align: center;
  z-index: 6;
  width: 9em;
  font-family: "Dexotick";
  color: Black !important;
  font-size: 2em;
}
.D_Grave_input input{
  text-align: left;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Talento_label {
  position: absolute;
  top: 15em;
  left: 18em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.Talento_input {
  background-color: transparent;
  position: absolute;
  top: 10.8em;
  left: 17.8em;
  text-align: center;
  z-index: 6;
  width: 10em;
  font-family: "Dexotick";
  color: Black !important;
  font-size: 2em;
}
.Talento_input input{
  text-align: left;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Arquetipo_label {
  position: absolute;
  top: 15em;
  left: -0.6em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.Arquetipo_input {
  background-color: transparent;
  position: absolute;
  top: 10.8em;
  left: 4em;
  text-align: center;
  z-index: 6;
  width: 10em;
  font-family: "Dexotick";
  color: Black !important;
  font-size: 2em;
}
.Arquetipo_input input{
  text-align: left;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Jugador_contenedor_equipo {
  left: 22px;
  background-color: rgba(255, 0, 0, 0.3);
  top: 258px;
  width: 54em;
  height: 21em;
  position: absolute;
}
.espacio_armas {
  background-color: rgba(0, 0, 255, 0.3);
  overflow-y: scroll;
  left: 0px;
  top: 30px;
  width: 28em;
  height: 8em;
  position: absolute;
}
.armas{
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
}

ol.lista-armas {
  list-style-type: none;
}

.Titulo_Equipo {
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.Titulo_Arma {
  position: absolute;
  top: 0.1em;
  left: 1.6em;
}

.arma_linea1 {
  position: relative;
  left: -1em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: left;
  display: inline-block;
  z-index: 6;
  width: 7em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.arma_linea2 {
  position: relative;
  left: -1.5em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: center;
  display: inline-block;
  z-index: 6;
  width: 4em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.arma_linea3 {
  position: relative;
  left: -2em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: center;
  display: inline-block;
  z-index: 6;
  width: 5em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.boton_mas_arma {
  position: absolute;
  top: 0.5em;
  left: -1em;
}

.controles_armas {
  position: absolute;
  left: 25.6em;
  font-size: 0.7em;
}

.espacio_armaduras {
  background-color: rgba(0, 255, 255, 0.3);
  overflow-y: scroll;
  left: 0px;
  top: 172px;
  width: 28em;
  height: 4em;
  position: absolute;
}

.boton_mas_armadura {
  position: absolute;
  top: 10.5em;
  left: -1em;
}

.armadura_linea1 {
  position: relative;
  left: -1em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: left;
  display: inline-block;
  z-index: 6;
  width: 7em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.armadura_linea2 {
  position: relative;
  left: -1em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: center;
  display: inline-block;
  z-index: 6;
  width: 4em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.armadura_linea3 {
  position: relative;
  left: -2em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: center;
  display: inline-block;
  z-index: 6;
  width: 5em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.controles_armaduras {
  position: absolute;
  left: 23.6em;
  font-size: 0.7em;
}

.boton_mas_escudo {
  position: absolute;
  top: 16em;
  left: -1em;
}

.escudo_linea1 {
  position: relative;
  left: -1em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: left;
  display: inline-block;
  z-index: 6;
  width: 7em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.escudo_linea2 {
  position: relative;
  left: -1em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: center;
  display: inline-block;
  z-index: 6;
  width: 4em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.escudo_linea3 {
  position: relative;
  left: -2em;
  overflow: hidden;
  background-color: transparent;
  text-overflow: clip;
  text-align: center;
  display: inline-block;
  z-index: 6;
  width: 5em;
  height: 1.1em;
  font-family: "Lora";
  white-space: nowrap;
  color: Black !important;
  font-size: 1em;
}

.controles_escudo {
  position: absolute;
  left: 23.6em;
  font-size: 0.7em;
}

.Titulo_Protección {
  position: absolute;
  top: 6.8em;
  left: 1.6em;
}

.Titulo_Nivel {
  position: absolute;
  top: 6.8em;
  left: 8.6em;
}

.Titulo_Efecto {
  position: absolute;
  top: 6.8em;
  left: 12.6em;
}



.espacio_escudos {
  background-color: rgba(0, 255, 0, 0.3);
  overflow-y: scroll;
  left: 0px;
  top: 233px;
  width: 28em;
  height: 4em;
  position: absolute;
}

.espacio_objetos {
  background-color: rgba(0, 255, 0, 0.3);
  overflow-y: scroll;
  left: 419px;
  top: 29px;
  width: 24em;
  height: 19em;
  position: absolute;
}

.Titulo_Habilidad {
  position: absolute;
  top: 0.1em;
  left: 8em;
}

.recuerdo_Cuando {
  position: absolute;
  top: 10em;
  left: 1em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 8em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.Profesion_label {
  position: absolute;
  top: 10em;
  left: 15em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 7em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 1.5em;
}

.Profesion_valor_input {
  background-color: transparent;
  position: absolute;
  top: 7em;
  left: 15.8em;
  text-align: center;
  z-index: 6;
  width: 11em;
  font-family: "Dexotick";
  color: Black !important;
  font-size: 2em;
}
.Profesion_valor_input input{
  text-align: left;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Titulo_Daño {
  position: absolute;
  top: 0.1em;
  left: 13em;
}

.titulo_Habilidades {
  position: absolute;
  top: 8.3em;
  left: 9.2em;
  background-color: transparent;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Girassol";
  color: Black !important;
  font-size: 2.3em;
}
