.espacio_objeto {
  left: 2px;
  top: 31px;
  width: 22.5em;
  height: 9.8em;
  position: absolute;
}

.Objeto-foto {
  top: 2.5em;
  left: 1.9em;
  position: absolute;
  width: 6em;
  height: 6em;
  text-align: center;
  z-index: 0;
}

.Objeto-foto img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.Objeto-nombre {
  position: absolute;
  top: 1.7em;
  text-align: center;
  z-index: 6;
  left: 10.2em;
  width: 11em;
}

.Objeto-nombre input[type='text'] {
  background-color: transparent;
  font-family: inherit;
  width: 6.6em;
  font-size: 1.6em;
  text-align: center;
  color: White !important;
  font-family: "Dexotick";
  border: none;
}

.Arma_Habilidad_select {
  top: 2.3em;
  left: 9em;
  background-color: transparent;
  position: absolute;
  appearance: none;
  text-align: center;
  z-index: 6;
  width: 4em;
  height: 1.4em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
  border: none;
}
.Arma_Habilidad_select select{
  appearance: none;
  text-align: center;
  font-family: "Annie";
  color: Black !important;
  background-color: transparent;
  border: none;
}

.Arma_Daño_input {
  background-color: transparent;
  position: absolute;
  top: 3.8em;
  left: 7.3em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.Arma_Daño_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Arma_Bono_select {
  top: 3.8em;
  left: 9.6em;
  background-color: transparent;
  position: absolute;
  appearance: none;
  text-align: center;
  z-index: 6;
  width: 3.5em;
  height: 1.4em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
  border: none;
}
.Arma_Bono_select select{
  appearance: none;
  text-align: center;
  font-family: "Annie";
  color: Black !important;
  background-color: transparent;
  border: none;
}

.Armadura_Nivel_input {
  background-color: transparent;
  position: absolute;
  top: 2.3em;
  left: 10.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.Armadura_Nivel_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Armadura_Penalizador_input {
  background-color: transparent;
  position: absolute;
  top: 3.7em;
  left: 10.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.Armadura_Penalizador_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Objeto_Cantidad_input {
  background-color: transparent;
  position: absolute;
  top: 2.7em;
  left: 9.6em;
  text-align: center;
  z-index: 6;
  width: 3em;
  font-family: "Annie";
  color: Black !important;
  font-size: 1.7em;
}
.Objeto_Cantidad_input input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
  height: auto;
}

.Objeto_contenedor_descripcion{
  position: absolute;
    left: 7px;
    top: 178px;
    width: 22em;
    height: 13em;
    background-color: rgba(242, 242, 242, 0.4);
    overflow-y: scroll;
    border: none;
    border-width: 0;
    font-family: 'Annie';
}
