  <div class="Jugador_contenedor_equipo">
        <label class="Titulo_Arma Titulo_Equipo">Arma</label>
        <label class="Titulo_Habilidad Titulo_Equipo">Ataque</label>
        <label class="Titulo_Daño Titulo_Equipo">Daño</label>
        <span class="align_right boton_mas_arma"><a class="item-control item-create" data-type="Arma"><i class="fas fa-plus"></i></a></span>

    <div class="espacio_armas">

      <ol class="lista-armas" data-item-id="{{item._id}}">
          {{#each Armas as |item id|}}
            <li class="armas item" data-item-id="{{item._id}}">
              <div class="arma_linea1"><label>{{item.name}}</label></div>
                <label class="arma_linea2">{{item.data.Ataque}}</label>
                <label class="arma_linea3">{{item.data.Daño_Total}}</label>
                <span class="controles_armas">
                  <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
                  <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
                </span>
              </li>
          {{/each}}
        </ol>
    </div>

    <label class="Titulo_Protección Titulo_Equipo">Protección</label>
    <label class="Titulo_Nivel Titulo_Equipo">Nivel</label>
    <label class="Titulo_Efecto Titulo_Equipo">Efecto</label>
    <span class="align_right boton_mas_armadura"><a class="item-control item-create" data-type="Armadura"><i class="fas fa-plus"></i></a></span>

    <div class="espacio_armaduras">

      <ol class="lista-armas" data-item-id="{{item._id}}">
          {{#each Armaduras as |item id|}}
            <li class="armas item" data-item-id="{{item._id}}">
              <div class="armadura_linea1"><label>{{item.name}}</label></div>
                <label class="armadura_linea2">{{item.data.Nivel}} </label>
                <label class="armadura_linea3">{{item.data.Penalizador}}</label>
                <span class="controles_armaduras">
                  {{#if (eq item.data.Equipado "false")}}
                    <a class="item-control item-equip" style="color:Grey"><i class="fas fa-tshirt"><span class="tooltiptext"></span></i></a>
                  {{else}}
                    <a class="item-control item-equip" style="color:Black"><i class="fas fa-tshirt"><span class="tooltiptext"></span></i></a>
                  {{/if}}
                  <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
                  <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
                </span>
              </li>
          {{/each}}
        </ol>
    </div>

    <span class="align_right boton_mas_escudo"><a class="item-control item-create" data-type="Escudo"><i class="fas fa-plus"></i></a></span>
    <div class="espacio_escudos">

      <ol class="lista-armas" data-item-id="{{item._id}}">
          {{#each Escudos as |item id|}}
            <li class="armas item" data-item-id="{{item._id}}">
              <div class="escudo_linea1"><label>{{item.name}}</label></div>
                <label class="escudo_linea2">{{item.data.Nivel}} </label>
                <label class="escudo_linea3">{{item.data.Penalizador}}</label>
                <span class="controles_escudo">
                  {{#if (eq item.data.Equipado "false")}}
                    <a class="item-control item-equip" style="color:Grey"><i class="fas fa-tshirt"><span class="tooltiptext"></span></i></a>
                  {{else}}
                    <a class="item-control item-equip" style="color:Black"><i class="fas fa-tshirt"><span class="tooltiptext"></span></i></a>
                  {{/if}}
                  <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
                  <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
                </span>
              </li>
          {{/each}}
        </ol>
    </div>
    <label class="Titulo_Objeto Titulo_Equipo">Objeto</label>
    <label class="Titulo_Cantidad Titulo_Equipo">Cantidad</label>
    <span class="align_right boton_mas_objeto"><a class="item-control item-create" data-type="Objeto"><i class="fas fa-plus"></i></a></span>

    <div class="espacio_objetos">
      <ol class="lista-armas" data-item-id="{{item._id}}">
          {{#each Objetos as |item id|}}
            <li class="armas item" data-item-id="{{item._id}}">
              <div class="objeto_linea1"><label>{{item.name}}</label></div>
                <label class="objeto_linea2">{{item.data.Cantidad}} </label>
                <span class="controles_objeto">
                  <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
                  <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
                </span>
              </li>
          {{/each}}
        </ol>
    </div>
    <img class="imagen_penalizador" src="/systems/ysystem/assets/fichas/penalizador.svg" alt="?"/>
    <label class="caract_Estorbo caract_valor">{{data.Protección_Penalización}}</label>
  </div>
