<div class="Jugador_contenedor_magia">

  <label class="tirada_habilidad habilidad_magia" data-Habilidad_id="Magia">{{data.Magia.Nombre}}</label>
    <span class="mod_magia habilidad_magia_valor" data-habilidad_id="Magia">
      <label> (INT) </label>
      {{#if (gt data.Magia.Valor 0)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
      {{#if (gt data.Magia.Valor 1)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
      {{#if (gt data.Magia.Valor 2)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
  </span>

  <img class="imagen_poder" src="/systems/ysystem/assets/fichas/poder_valor.svg" alt="?"/>
  <div class="caract_Poder_valor_input">
    <input type="text" name="data.Poder.value" value="{{data.Poder.value}}" data-dtype="Number" maxlength="2"/>
  </div>
  <label class="caract_Poder_max caract_bono restaura_poder">{{data.Poder.max}}</label>
  <div class="espacio_hechizos">

  </div>
</div>
